// Color Palette
$primary-color: #0FA1DB;
$secondary-color: #0C3F62;
$main-background-color: #ECEFF1;
$background-color: #FFFFFF;
$background-color-footer: #6a94a5;
$background-color-dropdown: #F8F8F8;
$background-color-dp-arrow: #C2E2EE;


// text
$primary-text-color: #0FA1DB;
$secondary-text-color: #0C3F62;
$text-color-white: #FFFFFF;
$primary-text-header: #6A94A5;



$font-family-primary: 'Montserrat', sans-serif;


$font-weight-normal: 400;