@use '../../styles/variables' as *;


.main_sidebar{
   background-color: $secondary-color; 
   
   .footer_text{
      color: $text-color-white;
   }

   .sidebar_cards_icon{
      color: $primary-color;
   }

}